/*---------GRID SECTION------------ */

.info{
    background-color: #18233f;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

.info__title{
    font-size: 3rem;
    margin-bottom: 0;
}

.info__project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}

.info__project{
    background-image: linear-gradient(#0009, #0009), url(landscape.jpeg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
}

.info__project:hover{
    opacity: 0.8;
    outline: 2px solid #fff6;
}

/*---------GRID QUERIES------------ */

@media screen and (min-width: 56.25rem){

    .info__project-container{
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }

    .info__project:first-child{
        grid-column: span 2;
    }

    .info__project:nth-child(6){
        grid-column: span 2;
    }

}

@media screen and (min-width: 81.25rem){
    .info__project-container{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .info__project:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }

    .info__project:nth-child(6){
        grid-column: span 4;
    }

}